/* Importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;400;500;700;900&display=swap");

/* Reset dos estilos pré aplicados. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", sans-serif;
}

h1,
h2 {
  font-size: 3rem;
  color: #ffffff;
  font-family: "Roboto Serif", serif;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

/* Estilização do cabeçalho da página. */
.cabecalho {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  color: #ffffff;
  letter-spacing: 2px;
  height: 12vh;
  width: 100%;
}

.tituloELogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloELogo h2 {
  font-size: 2rem;
  font-weight: 700;
}

.logoHeader img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0 0.4rem;
}

.navMenu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMenu li {
  text-decoration: none;
  list-style: none;
  padding: 0 0.6rem;
  transition: 0.3s;
}

.navMenu img {
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

#logoYoutube {
  width: 40px;
  height: 40px;
}

.navMenu img:hover {
  transition: 0.3s;
  opacity: 0.6;
  transform: translateY(-8%);
}

/* Estilização do conteúdo principal */
body {
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.primeiraSessaoMain {
  background: url("/images/cachorroChapeu.png") no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  top: 32vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.figureLogoMain,
.logoMain {
  width: 140px;
  height: 140px;
}

.segundaSessaoMain {
  background: url("/images/cachorroDeTouca.png") no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.segundaSessaoMain h2,
p {
  color: #3a342f;
}

.terceiraSessaoMain {
  background: url("/images/cachorroSentado.png") no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}

.quartaSessaoMain {
  width: 100vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.quartaSessaoMain p,
h3 {
  color: #fd6a9a;
}

/* Estilização do rodapé */
.rodape {
  background-color: #fd6a9a;
  color: #ffffff;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 6rem 1rem;
}

.rodape section {
  padding: 1rem 2rem;
}

.navRodape ul {
  list-style: none;
}

.navRodape ul li {
  padding: 0.5rem 0;
}

.rodape h3 {
  font-size: 2rem;
  color: #ffffff;
}
