/* Importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;400;500;700;900&display=swap");

/* Reset dos estilos pré aplicados. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", sans-serif;
}

h1,
h2 {
  font-size: 3rem;
  color: #ffffff;
  font-family: "Roboto Serif", serif;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
}

/* Estilização do cabeçalho da página. */
.cabecalho {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  color: #ffffff;
  letter-spacing: 2px;
  height: 12vh;
  width: 100%;
}

.tituloELogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloELogo h2 {
  font-size: 2rem;
  font-weight: 700;
}

.logoHeader img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0 0.4rem;
}

.navMenu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMenu li {
  text-decoration: none;
  list-style: none;
  padding: 0 0.6rem;
  transition: 0.3s;
}

.navMenu img {
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

#logoYoutube {
  width: 40px;
  height: 40px;
}

.navMenu img:hover {
  transition: 0.3s;
  opacity: 0.6;
  transform: translateY(-8%);
}

/* Estilização do conteúdo principal */
body {
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.primeiraSessaoMain {
  background: url("/images/cachorroChapeu.png") no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  top: 32vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.figureLogoMain,
.logoMain {
  width: 140px;
  height: 140px;
}

.segundaSessaoMain {
  background: url("/images/cachorroDeTouca.png") no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.caixaSegundaSessao {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 100vw;
}

.caixaSegundaSessao h2,
.caixaSegundaSessao p {
  color: #3a342f;
  margin: 1rem 2rem;
}

.caixaSegundaSessao button {
  width: 15rem;
  height: 5rem;
  margin: 1rem 2rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #3a342f;
  border-radius: 60px;
  border: none;
  color: #ffffff;
  box-shadow: #3a342f 0px 0px 2px 1px;
  transition: 0.2s;
}

.caixaSegundaSessao button:hover {
  scale: 1.1;
  transition: 0.2s;
  cursor: pointer;
  background-color: #313131;
}

.terceiraSessaoMain {
  background: url("/images/cachorroSentado.png") no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.caixaTerceiraSessao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50vw;
  height: 100vw;
}

.caixaTerceiraSessao h2,
.caixaTerceiraSessao p {
  color: #ffffff;
  margin: 1rem 2rem;
}

.caixaTerceiraSessao button {
  width: 15rem;
  height: 5rem;
  margin: 1rem 2rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 60px;
  border: none;
  color: #000000;
  box-shadow: #ffffff 0px 0px 2px 1px;
  transition: 0.2s;
}

.caixaTerceiraSessao button:hover {
  scale: 1.1;
  transition: 0.2s;
  cursor: pointer;
  background-color: #121212;
  color: #ffffff;
  box-shadow: none;
}

.quartaSessaoMain {
  width: 100vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.quartaSessaoMain p,
.quartaSessaoMain h3 {
  color: #fd6a9a;
  font-size: 2rem;
}

.quartaSessaoMain .americanas {
  font-weight: 700;
}

.quartaSessaoMain .havaianas {
  color: #fd6a9a;
  font-size: 2rem;
  font-weight: 900;
}

/* Estilização do rodapé */
.rodape {
  background-color: #fd6a9a;
  color: #ffffff;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 6rem 1rem;
}

.rodape section {
  padding: 1rem 2rem;
}

.navRodape ul {
  list-style: none;
}

.navRodape ul li {
  padding: 0.5rem 0;
}

.rodape h3 {
  font-size: 2rem;
  color: #ffffff;
}
